/* style.css */
body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: monospace;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.w {
  max-width: 800px;
  margin: 0 auto;
  padding: 4rem 2rem;
}

header h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: #c9d1d9;
}

a {
  color: #d4be50; /* Yellow from screenshot */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul {
  padding-left: 2em;
}

li {
  margin-bottom: 0.5em;
}
